ul {
    /* border: 1px solid black; */
    /* margin-top: 100px; */
    padding-top: 100px;
    margin: 0 auto;
    overflow: auto;
    width: 960px;
}

.flavor-box {
    border: 2px solid black;
    float: left;
    background-color: #0218a2;
    width: 200px;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    /* color: #0218a2;
    color: #ffb703;
    color: #f76f73;
    color: #027fdc; */
    color: #07c4c5;
    font-family: 'Red Hat Display', sans-serif;
}
